# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html

[mysqld]

# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M

# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin

# These are commonly set, remove the # and set as required.
##### local test
 basedir = /local/data/home/eqtdata/sandbox/luosam/works/projects/QA/MySQL/mysql-5.6.28-linux-glibc2.5-x86_64
 datadir = /local/data/home/eqtdata/sandbox/luosam/works/projects/QA/MySQL/mysql-5.6.28-linux-glibc2.5-x86_64/data
 socket = /tmp/mysql.sock

#basedir = /home/eqtdata/runtime/qaauto/MySQL/mysql-5.6.28-linux-glibc2.5-x86_64
#datadir = /home/eqtdata/runtime/qaauto/MySQL/mysql-5.6.28-linux-glibc2.5-x86_64/data

 port = 5123
 server_id = 1
 bind_address = 0.0.0.0

# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M 

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 
