#............ minute (0 - 59)
# . ......... hour (0 - 23)
# . . ....... day of month (1 - 31)
# . . . ..... month (1 - 12)
# . . . . ... day of week (0 - 6 or 1 - 7) (Sunday = 0 or 7)
# . . . . .
# * * * * * command to be executed

# testRunner [environment] [numProcesses] [numSuiteReruns]
# testRunner is not using py.test "-n" feature due to the number of DB connections that spawns

# Daylight savings times
#15 07 * * 4 /home/eqtdata/sandbox/shawji/essV2/TestCases/testRunner/testRunner ppe pre_cspa 1 3
#40 07 * * 4 /home/eqtdata/sandbox/shawji/essV2/TestCases/testRunner/testRunner ppe normal 5 3
#00 13 * * 4 /home/eqtdata/sandbox/shawji/essV2/TestCases/testRunner/testRunner ppe pre_cspa 1 3
#15 13 * * 4 /home/eqtdata/sandbox/shawji/essV2/TestCases/testRunner/testRunner ppe normal 5 3

# Non-daylight savings times
#15 08 * * 2 /home/eqtdata/sandbox/shawji/essV2/TestCases/testRunner/testRunner pme pre_cspa 1 3
#40 08 * * 2 /home/eqtdata/sandbox/shawji/essV2/TestCases/testRunner/testRunner pme normal 5 3
#00 14 * * 2 /home/eqtdata/sandbox/shawji/essV2/TestCases/testRunner/testRunner pme pre_cspa 1 3
#15 14 * * 2 /home/eqtdata/sandbox/shawji/essV2/TestCases/testRunner/testRunner pme normal 5 3

