{% extends layout/base.html %}
{% block content%}

<div class="container-fluid">

  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#current_test">Current Test Run</span></a></li>
    <li role="presentation"><a href="#daily_result">Daily Results <span class="badge">10</span></a></li>
    <li role="presentation"><a href="#scheduled">Scheduled Runs<span class="badge">3</span></a></li>
  </ul>


  <div class="page-header">
    <h1> Current test run </h2>
      <div id="current_run"></div>
  </div>

  <div id="templates" class="hidden">
    <script id="current_run_table" type="text/x-custom-template">
         <table class='table'> 
            <tr> <th>Test</th><th>Runner</th><th>Result</th></tr>
            <%= rows %>
         </table>
    </script>

    <script id="current_run_row" type="text/x-custom-template">
     <tr> <td><%= tc %></td><td><%= runner %></td><td><%= result %></td> </tr>
    </script>
    <script id="current_run_result" type="text/x-custom-template">
     <span class="glyphicon glyphicon-ok"> <%= p %></span> 
     <span class="glyphicon glyphicon-remove"> <%= f %></span> 
     <span class="glyphicon glyphicon-repeat"> <%= r %></span> 
     <span class="glyphicon glyphicon-wrench"> <%= e %></span>
    </div>
    </script>
  </div>

</div>
{% end%}

{% block script %}

</script>
  <script src="{{ static_url('src/backbone_short.js')}}"> </script>
  <script src="{{ static_url('src/router.js')}}"> </script>
  <script src="{{ static_url('src/current_test.js')}}"> </script>
{% end %}

