<!doctype html>

<html>
<title> my unit2 ro13</title>
 <h1> signon</h1>

<form method="post">
	<fieldset>
	<legend> signon form </legend>
	User name: <input type="text" name="name"> <span style="color: red">{{name_error}}</span> <br>
	Password: <input type="password" name = "passwd"> <span style="color: red">{{pwd_error}}</span><br>
	Password again: <input type="password" name="passwd2"> <br>
	Email: <input type="text" name="email"> <span style="color: red">{{email_error}}</span> <br>
	</fieldset>
	<input type="submit">
</form>
</html>