# default settings for sessions
#Description for config variable usage: http://www.quickfixengine.org/quickfix/doc/html/configuration.html
[DEFAULT]
FileStorePath=logs
FileLogPath=logs
ReconnectInterval=30
useDataDictionary=N
#login and logout messages send manually through scripts by omsimulator, so activation and deactivation time not set.
StartTime=00:00:00
EndTime=00:00:00
BeginString=FIX.4.2
#SocketAcceptPort=16051

# session definition
[SESSION]
# inherit ConnectionType, ReconnectInterval and SenderCompID from default
ConnectionType=initiator
SenderCompID=RONINDO
TargetCompID=GSHKG
HeartBtInt=15
SocketConnectPort=22240
SocketConnectHost=127.0.0.1
