# default settings for sessions
[DEFAULT]
FileStorePath=store
FileLogPath=logs
FileLogBackupPath=logs/archives
FileLogHeartbeats=N
FileIncludeMilliseconds=Y
ConnectionType=initiator
HeartBtInt=30
BeginString=FIX.4.2
UseDataDictionary=N
DataDictionary=etc/FIX42.xml
ValidateUserDefinedFields=N
ValidateIncomingMessage=N
ValidateFieldsOutOfOrder=N

## default UTC timezone for logging
# using localtime for start/end i.e. HK
StartDay=mon
EndDay=sat
StartTime=06:00:00
EndTime=20:00:00
UseLocalTime=Y
# http web ui
HttpAcceptPort=6811
#########################
## --------- GSET DMA
[SESSION]
SenderCompID=AUT2
TargetCompID=GSET
SocketConnectPort=40000
#SocketConnectHost=162.98.14.155
SocketConnectHost=tkapl-devlh3.tk.eq.gs.com
LogonTimeout=30
ResetOnLogout=N
ResetOnDisconnect=N
#########################
# -------- GSET IOS/ALGO
[SESSION]
SenderCompID=LUOSAM
TargetCompID=GSASIAQA
#ResetOnLogon=Y
SocketConnectPort=40000
SocketConnectHost=tkapl-devlh3.tk.eq.gs.com
LogonTimeout=30
ResetOnLogout=N
ResetOnDisconnect=N
#########################
# -------- GSET IOS/ALGO
[SESSION]
SenderCompID=LUOSAM1
TargetCompID=GSASIAQA
#ResetOnLogon=Y
SocketConnectPort=40000
SocketConnectHost=tkapl-devlh3.tk.eq.gs.com
LogonTimeout=30
ResetOnLogout=N
ResetOnDisconnect=N
########################
## SS/HI test session
[SESSION]
SenderCompID=BBRTEST
TargetCompID=GSCO2
ValidateFieldsOutOfOrder=Y
## apollo will logout on NY time midmight
SocketConnectPort=41811
SocketConnectHost=usapl-rtrak.ny.eq.gs.com
#SocketConnectHost=usapl-qalha-vip1.ny.eq.gs.com
LogonTimeout=30
## daily reset
ResetOnLogout=Y

