# default settings for sessions
[DEFAULT]
FileStorePath=store
FileLogPath=logs
FileLogHeartbeats=N
FileIncludeMilliseconds=Y
#StartDay=Monday   defect on QUICKFIXJ, 9:30 logon
### 
#StartTime=04:03:00
#EndDay=Friday   defect on QUICKFIXJ , 19:00 logout
### NY midnight
#EndTime=03:50:00 
## australia daylight saving
StartTime=21:00:00
EndTime=12:00:00
ConnectionType=initiator
#ConnectionType=acceptor
HeartBtInt=30
BeginString=FIX.4.2
UseDataDictionary=Y
DataDictionary=etc/FIX42.xml
ValidateUserDefinedFields=N
ValidateIncomingMessage=Y

HttpAcceptPort=6811
# ------------------
# APOLLO client session
## ------------------
#[SESSION]
#SenderCompID=LUOSAM
#TargetCompID=GSASIAQA
#ValidateFieldsOutOfOrder=Y
##ResetOnLogon=Y
#SocketConnectPort=40000
##SocketConnectHost=apalqavip_new.tk.eq.gs.com
#SocketConnectHost=usapl-qalha-vip1.ny.eq.gs.com
#
#LogonTimeout=300
#
##----------- PT  simulate IRESS/PT
[SESSION]
SenderCompID=LUOSAM1
TargetCompID=GSASIAQA
ValidateFieldsOutOfOrder=Y
#ResetOnLogon=Y
SocketConnectPort=40000
SocketConnectHost=tkapl-devlh3.tk.eq.gs.com
LogonTimeout=300


[SESSION]
SenderCompID=BBRTEST
TargetCompID=GSCO2
ValidateFieldsOutOfOrder=Y
#ResetOnLogon=Y
## apollo will logout on NY time midmight
#ResetOnDisconnect=Y
SocketConnectPort=41811
SocketConnectHost=usapl-rtrak.ny.eq.gs.com
#SocketConnectHost=usapl-qalha-vip1.ny.eq.gs.com
LogonTimeout=300

[SESSION]
SenderCompID=RONINQA
TargetCompID=LUOSAMQA
ValidateFieldsOutOfOrder=Y
#ResetOnLogon=Y
SocketConnectPort=40000
SocketConnectHost=162.98.14.155
SocketConnectHost=tkapl-devlh3.tk.eq.gs.com
LogonTimeout=300

#[SESSION]
#SenderCompID=JIANGA
#TargetCompID=GSASIAQA
#ValidateFieldsOutOfOrder=Y
##ResetOnLogon=Y
#SocketConnectPort=40000
#SocketConnectHost=162.98.14.155
#SocketConnectHost=tkapl-devlh3.tk.eq.gs.com
#LogonTimeout=300
#
# ---- AMP high touch flow ---------
[SESSION]
SenderCompID=ITGAU
TargetCompID=GSASIA
ValidateFieldsOutOfOrder=Y
#ResetOnLogon=Y
SocketConnectPort=40000
SocketConnectHost=162.98.14.155
SocketConnectHost=tkapl-devlh3.tk.eq.gs.com
LogonTimeout=300

## -------- ITG not fully configured
[SESSION]
SenderCompID=ITGSAM
TargetCompID=GSSAM
ValidateFieldsOutOfOrder=Y
#ResetOnLogon=Y
SocketConnectPort=40000
SocketConnectHost=162.98.14.155
SocketConnectHost=tkapl-devlh3.tk.eq.gs.com
LogonTimeout=300

## --------- PERPETUAL 
[SESSION]
SenderCompID=PERPETUALQA
TargetCompID=GSASIAQA
ValidateFieldsOutOfOrder=Y
#ResetOnLogon=Y
SocketConnectPort=40000
SocketConnectHost=162.98.14.155
SocketConnectHost=tkapl-devlh3.tk.eq.gs.com
LogonTimeout=300

## --------- GSET DMA
[SESSION]
SenderCompID=QA13
TargetCompID=GSET
ValidateFieldsOutOfOrder=Y
#ResetOnLogon=Y
SocketConnectPort=40000
SocketConnectHost=162.98.14.155
SocketConnectHost=tkapl-devlh3.tk.eq.gs.com
LogonTimeout=300


## --------- GSET DMA
[SESSION]
SenderCompID=AUT2
TargetCompID=GSET
ValidateFieldsOutOfOrder=Y
SocketConnectPort=40000
SocketConnectHost=162.98.14.155
SocketConnectHost=tkapl-devlh3.tk.eq.gs.com
LogonTimeout=300
ResetOnLogout=N
ResetOnDisconnect=N
econnectInterval=10

